*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    body{
    background: black;
    color: white;
    }
    .header{
    width: 100%;
    height:90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    }
    
    .logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 40px;
    width: 150px;
    margin-right: 63%;
    cursor: pointer;
    }
    nav{ display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    }
    nav button{
    border: 0;
    outline: 0;
    background:#ff0000;
    color: white;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
    }
    .language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
    }
    .language img{
    width: 10px;
    margin-left: 10px;
    margin-right: 12px;
    
    }
    
    .header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
    }
    .header-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
    width: 1100px;
    }
    
    .header-content h3{
    font-weight: 400;
    margin-top: 25px;
    margin-bottom:20px ;
    font-size: 1.4rem; 
    }
    
    .header-content h4{
        margin: 0;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .email-signup{
    
    border-radius: 4px;
    align-items: center;
    margin-top:30px;
    overflow: hidden;
    }
    .email-signup input{
      background-color:white;
    flex: 1;
    border:0;
    outline: 0;
    margin-left: 10px;
    padding: 15px 70px;
    border-radius: 4px;
    }
    .email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 35px;
    border-radius: 4px;
    margin-bottom: 30px;
    
    }
    .submit{
        font-size: larger;
    }
    .features{
      background-color: black;
     
      padding: 40px 12%;
      font-size: 22px;
    }
    .row{
    display: flex;
    align-items: center;
    
    }
    
    .image img{
    width: 90%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    }
    .text h2{
    font-size:2.5rem ;
    font-weight: 800;
    margin-bottom: 10px;
    }
    
     .faq{
    margin-left: 40px;
    text-align: center;
    font-size: 18px;
     }
    
    .faq h2{
      margin-top: -30px;
      font-size: 50px;
      font-weight: 900;
    margin-bottom: -50px;
    text-align: center;
    }
    .accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
    }
    .accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
    }
    
    .accordion li label{
      display: flex;
      align-items: center;
      padding: 20px;
      font-size: 18px;
      font-weight: 500;
      background: #303030;
      margin-bottom: 2px;
      cursor: pointer;
      position: relative;
    }
    label::after{
    content: '+';
    font-size: 40px ;
    position: absolute;
    right: 20px ;
    }

    input[type="radio"]{
    display: none;
    }

    .accordion .content{
      background: #303030;
      text-align: left;
      padding: 0 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
    } 
    .accordion input[type="radio"]:checked + label + .content{
      max-height: 600px;
      padding: 30px 20px;
    }
    .accordion input[type="radio"]:checked + label::after{
      transform: rotate(135deg);
    }
    .text{
    
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .border2{
      margin-left: -40px;
         margin-top: 30px;
         margin-bottom: 60px;
         width:  1519px;
         height: 8px;
         background-color: rgb(51, 50, 50);
       }
    
       .list ul li{
    list-style-type: none;
    
       }
       .list{
    
        padding: 10px 20px 60px;
            display: flex;
            color: rgba(255,255,255,0.7);
    justify-content: space-evenly;
    line-height: 30px;
    cursor: pointer;
           }
    
    @media only screen and (max-width:600px){
    .logo{
      width:100p ;
    }
    
    }
    
    